@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --cor0: #091320;
    --cor1: rgb(255, 203, 180);
    
    --font-padrao:  Verdana, Helvetica, sans-serif;
    --font-princ0: 'Passion One', cursive;
    --font-princ1: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    min-width: 100vh;
    background-color: gray;
    font-family: var(--font-padrao);
}

a.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.link:hover{
    text-decoration: underline;
    background-color: white;
    color: var(--cor0);
    border-radius: 5px;
    margin: 0px 10px;
}

/*================================header========================================*/
header{
    background-color: var(--cor0);
    color: white;
    text-align: center;
    margin: auto;
}
header h1{
    font-family: var(--font-princ0);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 20vh;
}
.autoral{
    padding-bottom: 50px;
    font-size: 6vh;
}

/*========================================main==========================================*/
main p{
    font-family: var(--font-princ1);
    font-size: 5vh;
    padding: 10px;
    padding-bottom: 2em;
    margin-left: 8vh;
}
section{
    position: relative;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;

}

section#joaninha{
    background-color: black;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.447);
}
section#textinho{
    background: black url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.447);
}
.img{
    background-color: rgba(9, 19, 32, 0.69);
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-shadow: 2px 2px 2px black;
}

/*=================================footer===================================*/
footer{
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 2.8vh;
    padding: 10px;
}
